Recessions are periods of economic contraction having a significant impact on various industries. Typically, a recession is characterized by a significant decline in the gross domestic product over a time period, leading to widespread unemployment, loss of income, and reduced business activity.

Here is a dataset of the monthly GDP of the United Kingdom from 2020 to 2022. Below are all the features in the dataset:

Time Period: Monthly time period
GDP Growth: The growth rate of GDP every month

In [21]:
import pandas as pd
import plotly.graph_objs as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = "plotly_white"
import matplotlib.pyplot as plt

In [22]:
ra=pd.read_csv(r'C:\Users\femif\Downloads\UK_monthly_gdp.csv')
ra

   Time Period  GDP Growth
0     /01/2020         0.3
1     /02/2020        -0.5
2     /03/2020        -7.0
3     /04/2020       -20.9
4     /05/2020         3.2
5     /06/2020         9.0
6     /07/2020         7.4
7     /08/2020         2.0
8     /09/2020         1.1
9     /10/2020         0.6
10    /11/2020        -1.8
11    /12/2020         1.8
12    /01/2021        -2.9
13    /02/2021         0.7
14    /03/2021         2.3
15    /04/2021         3.1
16    /05/2021         1.3
17    /06/2021         1.0
18    /07/2021        -0.2
19    /08/2021         0.9
20    /09/2021         0.6
21    /10/2021         0.1
22    /11/2021         1.0
23    /12/2021         0.1
24    /01/2022         0.1
25    /02/2022         0.0
26    /03/2022         0.1
27    /04/2022        -0.2
28    /05/2022         0.7
29    /06/2022        -0.9
30    /07/2022         0.3
31    /08/2022         0.0
32    /09/2022        -0.8
33    /10/2022         0.5
34    /11/2022         0.1
35    /12/2022        -0.5

In [23]:
#check for the null values
ra.isnull().sum()

Time Period    0
GDP Growth     0
dtype: int64

In [24]:
ra.dropna(axis=0, inplace=True)

In [25]:
ra.isnull().sum()

Time Period    0
GDP Growth     0
dtype: int64

#### GDP growth over time

In [27]:
ra

   Time Period  GDP Growth   GDP_Growth
0   2020-01-01         0.3          NaN
1   2020-02-01        -0.5  -266.666667
2   2020-03-01        -7.0  1300.000000
3   2020-04-01       -20.9   198.571429
4   2020-05-01         3.2  -115.311005
5   2020-06-01         9.0   181.250000
6   2020-07-01         7.4   -17.777778
7   2020-08-01         2.0   -72.972973
8   2020-09-01         1.1   -45.000000
9   2020-10-01         0.6   -45.454545
10  2020-11-01        -1.8  -400.000000
11  2020-12-01         1.8  -200.000000
12  2021-01-01        -2.9  -261.111111
13  2021-02-01         0.7  -124.137931
14  2021-03-01         2.3   228.571429
15  2021-04-01         3.1    34.782609
16  2021-05-01         1.3   -58.064516
17  2021-06-01         1.0   -23.076923
18  2021-07-01        -0.2  -120.000000
19  2021-08-01         0.9  -550.000000
20  2021-09-01         0.6   -33.333333
21  2021-10-01         0.1   -83.333333
22  2021-11-01         1.0   900.000000
23  2021-12-01         0.1   -90.000000
24  2022-01-01         0.1     0.000000
25  2022-02-01         0.0  -100.000000
26  2022-03-01         0.1          inf
27  2022-04-01        -0.2  -300.000000
28  2022-05-01         0.7  -450.000000
29  2022-06-01        -0.9  -228.571429
30  2022-07-01         0.3  -133.333333
31  2022-08-01         0.0  -100.000000
32  2022-09-01        -0.8         -inf
33  2022-10-01         0.5  -162.500000
34  2022-11-01         0.1   -80.000000
35  2022-12-01        -0.5  -600.000000

In [26]:
ra['Time Period'] = pd.to_datetime(ra['Time Period'])

# Sort the DataFrame by 'Date' column
ra.sort_values(by='Time Period', inplace=True)

# Calculate GDP growth rate over time
ra['GDP_Growth'] = ra['GDP Growth'].pct_change() * 100

# Print the DataFrame to see the results
print(ra)

   Time Period  GDP Growth   GDP_Growth
0   2020-01-01         0.3          NaN
1   2020-02-01        -0.5  -266.666667
2   2020-03-01        -7.0  1300.000000
3   2020-04-01       -20.9   198.571429
4   2020-05-01         3.2  -115.311005
5   2020-06-01         9.0   181.250000
6   2020-07-01         7.4   -17.777778
7   2020-08-01         2.0   -72.972973
8   2020-09-01         1.1   -45.000000
9   2020-10-01         0.6   -45.454545
10  2020-11-01        -1.8  -400.000000
11  2020-12-01         1.8  -200.000000
12  2021-01-01        -2.9  -261.111111
13  2021-02-01         0.7  -124.137931
14  2021-03-01         2.3   228.571429
15  2021-04-01         3.1    34.782609
16  2021-05-01         1.3   -58.064516
17  2021-06-01         1.0   -23.076923
18  2021-07-01        -0.2  -120.000000
19  2021-08-01         0.9  -550.000000
20  2021-09-01         0.6   -33.333333
21  2021-10-01         0.1   -83.333333
22  2021-11-01         1.0   900.000000
23  2021-12-01         0.1   -90.000000
24  2022-01-01         0.1     0.000000
25  2022-02-01         0.0  -100.000000
26  2022-03-01         0.1          inf
27  2022-04-01        -0.2  -300.000000
28  2022-05-01         0.7  -450.000000
29  2022-06-01        -0.9  -228.571429
30  2022-07-01         0.3  -133.333333
31  2022-08-01         0.0  -100.000000
32  2022-09-01        -0.8         -inf
33  2022-10-01         0.5  -162.500000
34  2022-11-01         0.1   -80.000000
35  2022-12-01        -0.5  -600.000000

there  will be calculate the GDP growth rate as a percentage change from the previous period and store it in a new column named 'GDP_Growth'.

In [18]:
ra['Date'] = pd.to_datetime(ra['Date'])

# Sort the DataFrame by 'Date' column
ra.sort_values(by='Date', inplace=True)

# Group by quarter and calculate the sum of GDP for each quarter
ra_quarterly = ra.groupby(pd.Grouper(key='Date', freq='Q')).sum()

# Print the quarterly DataFrame
print(ra_quarterly)

            GDP Growth    GDP_Growth
Date
2020-03-31        -7.5  0.000000e+00
2020-06-30        -8.7  1.492701e+02
2020-09-30        10.5 -5.523908e+02
2020-12-31         0.6  7.691095e+04
2021-03-31         0.1  8.838253e+00
2021-06-30         5.4  6.726007e+01
2021-09-30         1.3 -9.379195e+02
2021-12-31         1.2 -1.237022e+03
2022-03-31         0.2           inf
2022-06-30        -0.4 -4.484127e+02
2022-09-30        -0.5          -inf
2022-12-31         0.1 -1.529534e+03

C:\Users\femif\AppData\Local\Temp\ipykernel_18628\1174266987.py:7: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

In [20]:
ra['Time Period'] = pd.to_datetime(ra['Time Period'], format='/%m/%Y')
ra.set_index('Time Period', inplace=True)
quarterly_data = ra.resample('Q').mean()
print(quarterly_data.head())

             GDP Growth    GDP_Growth
Time Period
2020-03-31    -3.750000           NaN
2020-06-30    -2.900000     74.635051
2020-09-30     3.500000   -184.130269
2020-12-31     0.200000  25636.984899
2021-03-31     0.033333      2.946084

C:\Users\femif\AppData\Local\Temp\ipykernel_18628\1329120652.py:3: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.